.card-global {

    height: 400px;
    width: 300px;

    border-radius: 25px;
    padding-top:10px;
    
    border: solid rgb(255, 255, 255) 3px;
    display:flex;
    flex-direction: column;
    align-items:center;
    
    justify-content: center;
      
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  

}

.card-id,.card-type,.card-name {
    background-color: rgb(27, 32, 36);

    border-radius: 15px;
    height: 20px;
    width: 90%;
    border: solid rgb(157, 36, 16) 2px;
}


.card-id,.card-type {
    display: flex;
    flex-direction: row;

    align-items: center;
}
.card-id {
    margin-bottom:10px;

}


.card-type {
    margin-bottom: 20px;
}

.card-id img, .card-type img {
    height: 12px;
    padding-left: 10px;
}

.card-img img{
    position: relative;
    height:250px;
  
    max-width: 250px;
    margin-bottom: 10px;
    margin-top: 15px;
  
}
  
.card-name{
    height: 45px;
    margin-bottom: 5px;
  }

.card-name p {
 text-transform: uppercase;
 font-weight: 800;
}

p {
    all:unset;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}